.logo-bar {
  text-align: center;
  color: white;
  width: 177px;
  height: 60px;
  background-color: white;
  border-radius: 18px;
  img {
    border-style: none;
    background-size: contain;
    width: 122px;
    display: block;
    -webkit-user-drag: none;
    height: 100%;
    padding: 5% 0;
    margin: 0 auto;
  }
}