.canvas-area {
    position: relative;
    // height: 100%;
    height: inherit;


    .empty-area {
        position: absolute;
        top: 0;
        text-align: center;
        display: table;
        width: 100%;
        height: 100%;
        span {
            vertical-align: middle;
            display: table-cell;
            font-size: 40px;
            font-weight: 900;
        }
    }
    .canvas-container {
        width: 100% !important;
        // height: -webkit-fill-available !important;
    }
    canvas {
        width: 100% !important;
        // height: inherit !important;
    }
}