.home-page {
  
  h2 {
    font-size: 1.5em;
  }
  
  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  form {
    margin-bottom: 1em;

    input {
      outline: none;
      border-bottom: 1px dotted #999;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }
}

.notification {
  background: #fd5d93;
  height: unset;
  width: unset;
  border-radius: 7px;
  line-height: 1em;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  right: 10px;
  border: 1px solid #fd5d93;
}

.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 250px;
  padding: 0px 15px;
  height: -webkit-fill-available;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: scroll;
}