.content {
  .preview-action-bar {
    .btn-simple {
      width: 90px;
      font-size: 12px;
    }
  }
  .result-view {
    background-color: gainsboro !important;
    overflow-y: auto;
    padding: 8px;
    color: black; 
    font-size: 15px;
  }

  .editor-area {
    background-color: gainsboro !important;
  }

  .main-control-board {
    .form-group {
      margin-bottom: 10px;
      position: relative;
      margin-left: 49px;
      .codignate-control {
        text-align: center;
      }
    }
    button {
      width: 130px;
    }
  }
}